.DS_Store
DogBreedGuessing/DogBreedGuessing.xcodeproj/project.xcworkspace/xcuserdata/leon.xcuserdatad
DogBreedGuessing/DogBreedGuessing.xcworkspace/xcuserdata/leon.xcuserdatad/UserInterfaceState.xcuserstate
